html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#logo {
    height: 50px;
    flex: 100%;
    order: 1;
    margin-right: 80px;
}

nav {
    display: flex;
    gap: 10px;
    flex: 100%;
    justify-content: space-around;
    order: 2;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    color: #ddd;
}

#buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex: 100%;
    order: 3;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 140px);
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Responsive styles */
@media only screen and (min-width: 601px) {
    header {
        flex-wrap: nowrap;
    }
    #logo {
        flex: 0;
        order: 0;
    }
    nav {
        gap: 50px;
        flex: 1;
        justify-content: center;
    }
    #buttons {
        justify-content: flex-end;
    }
    main {
        height: calc(100vh - 70px);
        font-size: 3em;
    }
}
